---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";
---
<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <section>
        <img 
          src="/profile.jpg" 
          alt="Shane" 
          class="w-24 h-24 rounded-2xl mb-4"
        />
        <div class="font-semibold text-black dark:text-white">
          Hi, I'm Shane 👋🏻
        </div>
      </section>

      <section>
        <p>
          Next chapter loading... Former Web3 professional with experience at Consensys and RECUR—helped scale products, navigated market cycles, and curated my art collection, <Link href="/collection" underline={false}>2667</Link>. UNC Chapel Hill alum.
        </p>
      </section>

      <section class="space-y-4">
        <div class="font-semibold text-black dark:text-white">Let's Connect</div>
        <p>
          If you want to get in touch with me about something or just to say hi, reach out on social media or send me an email.
        </p>
        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>{SOCIAL.NAME}</Link>
              {"/"}
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>{SITE.EMAIL}</Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
